# vim
*.swa
*.swp
*.swo

# vagrant
.vagrant

# downloads
adr-tools-3.0.0.tar.gz
golangci-lint-installer

# semgrep
test_report.html
semgrep-ci.xml
semgrep-docker.xml
semgrep-golang.xml
semgrep-security.xml
